@{
    ViewData["Title"] = "ChangeLogin";

}
<body>
    <form method="post">
        <main>
            <div style="position:relative; top:20%;left:40%">
                <legend><b>Смена логина</b></legend>
                <p>
                    <label for="Login">Новый логин:  </label>
                </p>
                <p>
                    <input type="text" name="Login" value="" />

                </p>
                <p>

                <button class="button" onclick="location.href='https://localhost:7281/MainPage'" type="button">Сохранить </button>
            </div>

        </main>
    </form>
</body>