@{
    ViewData["Title"] = "DeleteAccount";
}

<div style="position:absolute; top:10%;left:40%">
    <p>
        <b style="font-size:40px">Удалить аккаунт</b>
    </p>
    <p>
        <b style="font-size:20px">Вы уверены?</b>
    </p>
    <form asp-controller="DeleteAccount" asp-action="DeleteAcc" method="post">
        <!--<button class="button" onclick="location.href='https://localhost:7281/Home'" type="button">Да</button>-->
        <button class="button" type="submit">Да</button>
    </form>

        <button class="button" onclick="location.href='https://localhost:7281/Settings'" type="button">Нет</button>

</div>