@{
    ViewData["Title"] = "DeleteAccount";
}

<div class="text-center">
    <p>
        <b style="font-size:40px">Удалить аккаунт</b>
    </p>
    <p>
        <b style="font-size:20px">Вы уверены?</b>
    </p>
        <button class="button" onclick="location.href='https://localhost:7281/Home'" type="button">Да</button>

        <button class="button" onclick="location.href='https://localhost:7281/Settings'" type="button">Нет</button>

</div>