@{
    ViewData["Title"] = "Profile";
}

<div class="text-center">
    <p>
        <b style="font-size:15px">Тут должен быть логин</b>
    </p>
    <p>
        <button class="button" onclick="location.href='https://localhost:7281/Basket'" type="button">Корзина</button>
    </p>
    <p>
        <button class="button" onclick="location.href='https://localhost:7281/Orders'" type="button">Заказы</button>
    </p>
    <p>
        <button class="button" onclick="location.href='https://localhost:7281/Settings'" type="button">Настройки</button>
    </p>
</div>