@{
    ViewData["Title"] = "ChangePassword";

}
<body>
    <form asp-controller="ChangePassword" asp-action="B_ChangePass" method="post">
        <main>
            <div style="position:absolute; top:10%;left:45%">
                <legend><b>Смена пароля</b></legend>
                <p>
                    <label for="Password">Старый пароль:</label>
                </p>
                <p>
                    <input type="text" name="Passwordold" value="" />
                </p>
                <p>
                    <label for="Password">Новый пароль:</label>
                </p>
                <p>
                    <input type="text" name="Passwordnew" value="" />
                </p>
                <button class="button" type="submit">Сохранить </button>
                <!--<button class="button" onclick="location.href='https://localhost:7281/MainPage'" type="button">Сохранить</button> -->
            </div>

        </main>
    </form>
</body>