@{
    ViewData["Title"] = "Home Page";
}

<div style="position:absolute; top:10%;left:45%">
    <p>
    <button class="button" onclick="location.href='https://localhost:7281/Authorization'" type="button">Войти</button>
    </p>
    <p>
    <button class="button" onclick="location.href='https://localhost:7281/Registration'" type="button">Зарегистрироваться</button>
    </p>
</div>
