@{
    ViewData["Title"] = "Settings";
}

<div class="text-center">
    <p>
        <b style="font-size:40px">Настройки</b>
    </p>
    <p>
        <button class="button" onclick="location.href='https://localhost:7281/ChangeLogin'" type="button">Сменить логин</button>
    </p>
    <p>
        <button class="button" onclick="location.href='https://localhost:7281/ChangePassword'" type="button">Сменить пароль</button>
    </p>
    <p>
        <button id="a"  onclick="location.href='https://localhost:7281/DeleteAccount'" type="button">Удалить аккаунт</button>
    </p>
</div>