@{
    ViewData["Title"] = "Catalog";
}

<div class="text-center">
    <b style ="font-size:40px">Каталог</b>
    
        <div style="position:absolute; bottom:12%; left:44.5%">
        <h2>Список книг</h2>
        @foreach (var book in Model)
        {
            <p>@book.Title - @book.Author</p>
        }
        <button class="button" onclick="location.href='https://localhost:7281/Basket'" type="button">Корзина</button>
        </div>   
</div>