@{
    ViewData["Title"] = "BuyPage";
}

<div class="text-center">
    <b style="font-size:40px">Оформление заказа</b>

    <div style="position:absolute; bottom:12%; left:44.5%">
        <p>
            <b style="font-size:20px; position:relative; bottom:12%; left:-30%">Цена:</b>
        </p>
        <p>
            <button class="button" onclick="location.href='https://localhost:7281/Basket'" type="button">Оформить</button>
        </p>
    </div>
</div>