@{
    ViewData["Title"] = "Basket";
}

<div style="position:absolute; top:10%;left:45%">
    <b style="font-size:40px">Корзина</b>

    <div style="position:fixed; bottom:0%; left:39%">
        <button class="button" onclick="location.href='https://localhost:7281/BuyPage'" type="button">Купить все</button>
        <button class="button" " type="submit">Удалить все </button>
    </div>
</div>