@{
    ViewData["Title"] = "Main Page";
}

<div style="position:absolute; top:10%;left:45%">
    <p>
        <button class="button" onclick="location.href='https://localhost:7281/Catalog'" type="button">Каталог</button>
    </p>
    <p>
        <button class="button" onclick="location.href='https://localhost:7281/Basket'" type="button">Корзина</button>
    </p>
    <p>
        <button class="button" onclick="location.href='https://localhost:7281/Profile'" type="button">Профиль</button>
    </p>
</div>